body {
    background-color: brown;
    margin: 0;
    font-family: sans-serif;
    @media screen and (max-width: 768px) {
  .card p {
    max-height: 55px;
    overflow: hidden;
  }
}

}

header, footer{
    background-color: green;
}

a{
    text-decoration: none;
    color: white;
}

.pluses{
    display: flex;
    justify-content: space-between;
    gap: 16px;

    .article{
        display: flex;
        gap: 24px;
    }
    .number{

    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;
        padding: 38px 16px;
        border-right: 1px solid #FFFFFF;

    }
    .text
}
body{
    margin: 0;
    padding: 0;
    background: url(https://m.media-amazon.com/images/M/MV5BMTBiODBjYTEtNTM1Yy00OTE2LWFhM2MtMmU3NmZlZjdlYjg5XkEyXkFqcGc@._V1_QL75_UX389_.jpg);
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    background-position: center;
}